<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <!-- Link to External CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='types.css') }}">
</head>

<body>
<!-- Background Animation Div -->
  <div class="bg2"></div>

  <div id="header">
    <div class="container">
      <a href="{{ url_for('home') }}" class="home-button">Back to Home</a>
    </div>
  </div>
  <div id="about">
    <div class="d-flex flex-column justify-content-center w-100 h-100"></div>
    <div class="container">
      <div class="row">
        <!-- About Image Section -->
        <div class="about-col-1">
          <img src="{{ url_for('static', filename='7 ENFJ.png') }}" alt="About Us Image">
        </div>
        <!-- About Content Section -->
        <div class="about-col-2">
          <h1 class="sub-title-2">ENFJ</h1>
          <!-- Background Box Wrapper -->
          <div class="background-box-2">
              <h1>Introduction</h1><br>
              <p>People with the ENFJ personality type (Protagonists) feel called to serve a greater purpose in life. Thoughtful and idealistic, ENFJs strive to have a positive impact on other people and the world around them. These personalities rarely shy away from an opportunity to do the right thing, even when doing so is far from easy. </p><br>
              <p>ENFJs are born leaders, which explains why these personalities can be found among many notable politicians, coaches, and teachers. Their passion and charisma allow them to inspire others not just in their careers but in every arena of their lives, including their relationships. Few things bring people with the ENFJ personality type a deeper sense of joy and fulfillment than guiding friends and loved ones to grow into their best selves. </p><br>
              <br><p>Click the link for more information about ENFJ</p>
              <br><a href="https://www.16personalities.com/enfj-personality" target="_blank" rel="noopener noreferrer">https://www.16personalities.com/enfj-personality</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>